:root {
  --second-color:#2196F3;
  --second-color-txt: #FFFFFF;
  --letter-txt:letter-spacing: 0.03em;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: "roboto", sans-serif;
  color: #212121;
  color: red;
}

.link {
  text-decoration: none;
  fill: currentColor;
}

.section {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/fon11.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/fon11.jpg);
  background-position: center;
}

.section1 {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

.section2a {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section3 {
  padding-bottom: 94px;
}

.section4 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: var(--letter-txt);
}

.navigation__logo {
  color: var(--second-color);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.navigation__list, .navigation__item {
  margin-right: 50px;
}

.navigation__list, .navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.navigation__link:hover {
  color: var(--second-color);
}
.navigation__link:focus {
  color: var(--second-color);
}

.navigation__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color var(--second-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--second-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__icon :hover {
  color: var(--second-color);
}
.navigation__icon :focus {
  color: var(--second-color);
}
.href-hedd:hover .navigation__icon, .href-hedd:focus .navigation__icon {
  fill: #2196F3;
}

.navigation__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__info .navigation__ite + .navigation__ite {
  margin-left: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  left: 0;
  background-color: currentColor;
}

.about-content {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .about-content {
    padding: 118px 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .about-content {
    padding: 118px 204px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about {
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--second-color-txt);
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 480px) {
  .about {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-color-txt);
  }
}
@media screen and (min-width: 768px) {
  .about {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-color-txt);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-color-txt);
  }
}

.about2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--letter-txt);
  color: #212121;
  margin-bottom: 10px;
  /*@media screen and (min-width: 480px) {
          text-align: center;
      }*/
}

.about3 {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-txt);
  color: #757575;
}

.about4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: var(--letter-txt);
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

.about5 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: var(--letter-txt);
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.txt-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

/*.txt-about-txt{
    width: 450px;
    height: 226px;
}*/
.txt-about-txt::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

/*.txt-about .txt-about-txt+.txt-about-txt {
    margin-left: 30px;
}*/
.skills-about {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-about-txt {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 90px;
  width: 100%;
  -webkit-transform: translateY(224px);
          transform: translateY(224px);
}

.work-view,
.work-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-view .img-about + .img-about {
  margin-left: 30px;
}

.img-wrap {
  position: relative;
}

.work-clients .img-clients + .img-clients {
  margin-left: 30px;
}

.icon-about {
  border-radius: 0px;
}
.icon-about::before {
  background-image: url(../img/antena1.svg);
  background-color: #F5F4FA;
}

.icon-about1 {
  border-radius: 0px;
}
.icon-about1::before {
  background-image: url(../img/clock1.svg);
  background-color: #F5F4FA;
}

.icon-about2 {
  border-radius: 0px;
}
.icon-about2::before {
  background-image: url(../img/diagram1.svg);
  background-color: #F5F4FA;
}

.icon-about3 {
  border-radius: 0px;
}
.icon-about3::before {
  background-image: url(../img/astronaut1.svg);
  background-color: #F5F4FA;
}

.pointer {
  display: block;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--second-color-txt);
}

.button-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-navi {
  border-radius: 4px;
}
.button-navi:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-work .button-navi + .button-navi {
  margin-left: 8px;
}

.pointer1a {
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pointer1a:hover, .pointer1a:focus {
  color: #EEEEEE;
}
.pointer1a:hover, .pointer1a:focus {
  background-color: #2196F3;
}

.pointer1 {
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pointer1:hover, .pointer1:focus {
  color: #EEEEEE;
}
.pointer1:hover, .pointer1:focus {
  background-color: #2196F3;
}

.btn2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: var(--letter-txt);
  color: black;
  text-align: center;
}

.button-send {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.button-send {
  fill: var(--second-color-txt);
}

.submit-button1 {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding-right: 30px;
}

[href] {
  color: #212121;
}

.href-hedd {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: color var(--second-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--second-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.href-hedd:hover {
  color: var(--second-color);
}
.href-hedd:focus {
  color: var(--second-color);
}

.name-command {
  -webkit-box-shadow: #757575;
          box-shadow: #757575;
  margin-bottom: 30px;
}

.img-command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: #757575;
          box-shadow: #757575;
}
@media screen and (min-width: 480px) {
  .img-command {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: #757575;
            box-shadow: #757575;
  }
}

/*.img-command .name-command +.name-command{
margin-left: 30px;
}*/
.name-work {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: var(--letter-txt);
  color: #212121;
  text-align: center;
}

.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: var(--letter-txt);
  color: #757575;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #FFFFFF;
}

.footer {
  margin-top: 60px;
  padding: 60px 0;
  background: #2F303A;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

.footer-box-first {
  text-align: center;
}

/*.footer-box-second{
 margin-left: 30px;
}*/
.foot {
  margin-bottom: 9px;
  text-align: center;
}

.foot1 {
  margin-bottom: 9px;
  margin-top: 20px;
  text-align: center;
}

/*.footer-box-third {
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 20px;

}*/
.about6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
  text-align: center;
}

.about7 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
  text-align: center;
}

/*.footer-box-third{
    display: block;
    margin-left: 20px;

}*/
.studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--letter-txt);
  color: var(--second-color-txt);
}

.adress {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-txt);
  color: var(--second-color-txt);
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-txt);
  color: rgba(255, 255, 255, 0.6);
}

.href-hedd2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.href-hedd2:hover {
  color: var(--second-color);
}
.href-hedd2:focus {
  color: var(--second-color);
}

.project-work {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.work1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--letter-txt);
  color: #757575;
  margin-top: 4px;
}

.command-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.command-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #f9fbf9;
  background-color: #484343;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-soc-link:hover, .command-soc-link:focus {
  background-color: #2196F3;
}

.command-soc-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-soc-link:hover .command-soc-icon, .command-soc-link:focus .command-soc-icon {
  fill: #FFFFFF;
}

.regular-customer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.regular-customer__item {
  display: block;
  content: "";
  width: 170px;
  height: 92px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.regular-customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #FFFFFF;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.regular-customer__link:hover, .regular-customer__link:focus {
  border-color: #2196F3;
}

.regular-customer__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customer__link:hover .regular-customer__icon, .regular-customer__link:focus .regular-customer__icon {
  fill: #2196F3;
}

.flex-element {
  width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.img1 {
  border-radius: 1px;
}
.img1:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img1-wrap {
  position: relative;
  overflow: hidden;
}

.img1-txt {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 62px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img1 :hover .img1-txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.flex-element2 {
  width: 270px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.flex-element .img1 + .img1 {
  margin-left: 30px;
}

.img-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.online-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.online-form-input {
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.online-form-input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}
.online-form-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}
.online-form-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}
.online-form-input::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}
.online-form-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 132, 132, 0.4);
  -webkit-transition: opacity 550ms linear, visibility 550ms;
  transition: opacity 550ms linear, visibility 550ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 550ms linear;
  transition: -webkit-transform 550ms linear;
  transition: transform 550ms linear;
  transition: transform 550ms linear, -webkit-transform 550ms linear;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid rgba(177, 175, 175, 0.1019607843);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .button-close {
  fill: var(--second-color);
}
.modal-close:focus .button-close {
  fill: var(--second-color);
}

.submit-button {
  display: block;
  width: 200px;
  height: 50px;
  background: #2196F3;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.input-filed {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 40px;
  font-size: 12px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input:hover {
  border-color: #2196F3;
}
.form-input:focus {
  outline-color: var(--second-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .input-icon {
  fill: var(--second-color);
}
.form-input:focus + .input-icon {
  fill: var(--second-color);
}

.form-input-feed {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 16px;
  padding-top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  resize: none;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-feed::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input-feed::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input-feed:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input-feed::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input-feed::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input-feed:hover {
  border-color: #2196F3;
}
.form-input-feed:focus {
  outline-color: var(--second-color);
}

.input-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #757575;
}

.check-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  border-color: var(--second-color);
  background-color: var(--second-color);
}
.input-check:focus + .check-text span {
  border-color: var(--second-color);
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-check:checked + .check-text span {
    border-color: var(--second-color);
    background-color: var(--second-color);
  }
  .input-check:focus + .check-text span {
    border-color: var(--second-color);
  }
}

.check-icon {
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text .check-icon {
  fill: #FFFFFF;
}

.check-text1 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .check-text1 {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #2196F3;
  }
}/*# sourceMappingURL=main.css.map */