:root {
  --second-color:#2196F3;
  --second-color-txt: #FFFFFF;
  --letter-txt:letter-spacing: 0.03em;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: "roboto", sans-serif;
  color: #212121;
  color: red;
}

.link {
  text-decoration: none;
  fill: currentColor;
}

.link1 {
  text-decoration: none;
}

.section {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/fon11.jpg);
  background-position: center;
}

.section1 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.section2a {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section3 {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .section3 {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
  }
}

.section4 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.span-studio {
  color: #212121;
}

.navigation__logo {
  text-align: center;
  color: var(--second-color);
}

.navigation__list {
  /*display: flex;*/
  display: none;
  margin-left: 70px;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}

.navigation__list, .navigation__item {
  margin-right: 50px;
}

.navigation__list, .navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.navigation__link:hover {
  color: var(--second-color);
}
.navigation__link:focus {
  color: var(--second-color);
}

.navigation__icon {
  display: flex;
  transition: color var(--second-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__icon :hover {
  color: var(--second-color);
}
.navigation__icon :focus {
  color: var(--second-color);
}
.href-hedd:hover .navigation__icon, .href-hedd:focus .navigation__icon {
  fill: #2196F3;
}

.navigation__info {
  /*display: flex;*/
  display: none;
  margin-left: auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navigation__info {
    display: flex;
    width: 170px;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__info {
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
  }
}

.navigation__info .navigation__ite + .navigation__ite {
  margin-left: 3px;
}

.menu-open-btn {
  margin-left: auto;
  background-color: transparent;
  border: transparent;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: transparent;
}

.mob-menu-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 35px;
}

.mob-menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-link:hover {
  color: #2196F3;
}

.mob-menu-link:focus {
  color: #2196F3;
}

.mob-connect-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.mob-connect-ite {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  margin-bottom: 48px;
}

.mob-soc-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-item::after {
  content: "";
  height: 0px;
  width: 22px;
  padding-right: 10px;
  transform: rotate(90deg);
  text-align: top;
}

/*.mob-soc-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #2196F3;
}*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  left: 0;
  background-color: currentColor;
}

.about-content {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .about-content {
    padding: 118px 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .about-content {
    padding: 118px 204px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .about-content {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about {
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--second-color-txt);
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 480px) {
  .about {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-color-txt);
  }
}
@media screen and (min-width: 768px) {
  .about {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-color-txt);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.about2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--letter-txt);
  color: #212121;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .about2 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .about2 {
    text-align: left;
  }
}

.about3 {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-txt);
  color: #757575;
}

.about4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: var(--letter-txt);
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.about5 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: var(--letter-txt);
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.txt-about {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;*/
}
@media screen and (min-width: 768px) {
  .txt-about {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .txt-about {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .txt-about-txt {
    width: 354px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .txt-about-txt {
    width: 270px;
    height: 248px;
  }
}

.txt-about-txt::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

/*.txt-about .txt-about-txt+.txt-about-txt {
    margin-left: 30px;
}*/
.skills-about {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-about-txt {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 90px;
  width: 100%;
  transform: translateY(224px);
}

.work-view,
.work-clients {
  display: flex;
}

.work-view .img-about + .img-about {
  margin-left: 30px;
}

.img-wrap {
  position: relative;
}

.work-clients .img-clients + .img-clients {
  margin-left: 30px;
}

.icon-about {
  border-radius: 0px;
}
.icon-about::before {
  background-image: url(../img/antena1.svg);
  background-color: #F5F4FA;
}

.icon-about1 {
  border-radius: 0px;
}
.icon-about1::before {
  background-image: url(../img/clock1.svg);
  background-color: #F5F4FA;
}

.icon-about2 {
  border-radius: 0px;
}
.icon-about2::before {
  background-image: url(../img/diagram1.svg);
  background-color: #F5F4FA;
}

.icon-about3 {
  border-radius: 0px;
}
.icon-about3::before {
  background-image: url(../img/astronaut1.svg);
  background-color: #F5F4FA;
}

.pointer {
  display: block;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--second-color-txt);
}

.button-work {
  /*width: 326px;
  height: 91px;*/
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: start;
  /*@media screen and (min-width: 480px) {
          width: 480px
      }*/
}
@media screen and (min-width: 768px) {
  .button-work {
    width: 768px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-work {
    width: 1200px;
    justify-content: center;
  }
}

.button-navi {
  border-radius: 4px;
}
.button-navi:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-work .button-navi + .button-navi {
  margin-left: 8px;
}

.pointer1a {
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pointer1a:hover, .pointer1a:focus {
  color: #EEEEEE;
}
.pointer1a:hover, .pointer1a:focus {
  background-color: #2196F3;
}

.pointer1 {
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pointer1:hover, .pointer1:focus {
  color: #EEEEEE;
}
.pointer1:hover, .pointer1:focus {
  background-color: #2196F3;
}

.btn2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: var(--letter-txt);
  color: black;
  text-align: center;
}

.button-send {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.button-send {
  fill: var(--second-color-txt);
}

.submit-button1 {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding-right: 30px;
}

/*[href] {
    color: #212121;
}*/
.href-hedd {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color var(--second-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.href-hedd:hover {
  color: var(--second-color);
}
.href-hedd:focus {
  color: var(--second-color);
}

.name-command {
  box-shadow: #757575;
  margin-bottom: 30px;
}

.img-command {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: #757575;
}
@media screen and (min-width: 480px) {
  .img-command {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    box-shadow: #757575;
  }
}

/*.img-command .name-command +.name-command{
margin-left: 30px;
}*/
.name-work {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: var(--letter-txt);
  color: #212121;
  text-align: center;
}

.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: var(--letter-txt);
  color: #757575;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.social__block {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  fill: #FFFFFF;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #FFFFFF;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
  /*@media screen and (min-width: 480px) {
              width: 480px;
          }

          @media screen and (min-width: 768px) {
              width: 768px;
          }

          @media screen and (min-width: 1200px) {
              width: 1200px;
          }
  }*/
  /*.footer-box-second{
   margin-left: 30px;
  }*/
  /*.footer-box-third{
      display: block;
      margin-left: 20px;

  }*/
}
.footer .footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 80px;
}
@media screen and (min-width: 480px) {
  .footer .info-con {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer .info-con {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .info-con {
    text-align: left;
  }
}
.footer .foot {
  margin-bottom: 9px;
}
.footer .foot1 {
  margin-bottom: 9px;
  margin-top: 20px;
}
.footer .footer-box-third {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer .footer-box-third {
    width: 450px;
    height: 156px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-box-third {
    width: 570px;
    height: 156px;
  }
}
.footer .about6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  align-items: baseline;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer .about6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: baseline;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer .about6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: baseline;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .about6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: baseline;
    margin-bottom: 20px;
    text-align: left;
  }
}
.footer .about7 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  align-items: baseline;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer .about7 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: baseline;
    margin-bottom: 20px;
    text-align: left;
  }
}
.footer .studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--letter-txt);
  color: var(--second-color-txt);
}
.footer .adress {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-txt);
  color: var(--second-color-txt);
}
.footer .info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-txt);
  color: rgba(255, 255, 255, 0.6);
}
.footer .href-hedd2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .href-hedd2:hover {
  color: var(--second-color);
}
.footer .href-hedd2:focus {
  color: var(--second-color);
}

.project-work {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.work1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--letter-txt);
  color: #757575;
  margin-top: 4px;
}

.command-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.command-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f9fbf9;
  background-color: #484343;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-soc-link:hover, .command-soc-link:focus {
  background-color: #2196F3;
}

.command-soc-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-soc-link:hover .command-soc-icon, .command-soc-link:focus .command-soc-icon {
  fill: #FFFFFF;
}

.regular-customer__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.regular-customer__item {
  display: block;
  content: "";
  width: 170px;
  height: 92px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.regular-customer__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  fill: #FFFFFF;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  justify-content: center;
}
.regular-customer__link:hover, .regular-customer__link:focus {
  border-color: #2196F3;
}

.regular-customer__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customer__link:hover .regular-customer__icon, .regular-customer__link:focus .regular-customer__icon {
  fill: #2196F3;
}

.flex-element {
  width: 450px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .flex-element {
    width: 354px;
  }
}

.img1 {
  border-radius: 1px;
}
.img1:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img1-wrap {
  position: relative;
  overflow: hidden;
}

.img1-txt {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 62px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img1 :hover .img1-txt {
  transform: translateY(0);
}

.flex-element2 {
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.flex-element .img1 + .img1 {
  margin-left: 30px;
}

.img-project {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .img-project {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .img-project {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .img-project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.online-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.online-form-input {
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.online-form-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .online-form-input {
    width: 450px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.6);
  }
  .online-form-input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .online-form-input {
    width: 358px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.6);
  }
  .online-form-input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 132, 132, 0.4);
  transition: opacity 550ms linear, visibility 550ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 550ms linear;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  display: flex;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(177, 175, 175, 0.1019607843);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .button-close {
  fill: var(--second-color);
}
.modal-close:focus .button-close {
  fill: var(--second-color);
}
.menu-close-btn:focus .button-close {
  fill: var(--second-color);
}
.menu-close-btn:hover .button-close {
  fill: var(--second-color);
}

.submit-button {
  display: block;
  width: 200px;
  height: 50px;
  background: #2196F3;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.input-filed {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 40px;
  font-size: 12px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input:hover {
  border-color: #2196F3;
}
.form-input:focus {
  outline-color: var(--second-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .input-icon {
  fill: var(--second-color);
}
.form-input:focus + .input-icon {
  fill: var(--second-color);
}

.form-input-feed {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 16px;
  padding-top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  resize: none;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-feed::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input-feed:hover {
  border-color: #2196F3;
}
.form-input-feed:focus {
  outline-color: var(--second-color);
}

.input-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #757575;
}

.check-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  border-color: var(--second-color);
  background-color: var(--second-color);
}
.input-check:focus + .check-text span {
  border-color: var(--second-color);
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
  }
  .check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-check:checked + .check-text span {
    border-color: var(--second-color);
    background-color: var(--second-color);
  }
  .input-check:focus + .check-text span {
    border-color: var(--second-color);
  }
}

.check-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text .check-icon {
  fill: #FFFFFF;
}

.check-text1 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .check-text1 {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #2196F3;
  }
}/*# sourceMappingURL=main.css.map */