.about-content {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    /*@media screen and (min-width: 480px) {
            padding: 118px 60px;
            margin-left: auto;
            margin-right: auto;
        }
            @media screen and (min-width: 768px) {
            /*padding: 118px 204px;
            padding-top: 118px;
            padding-bottom: 118px;
            
            margin-left: auto;
            margin-right: auto;
        }
                /*@media screen and (max-width: 1199px) {
                    padding: 118px 204px;
                    margin-left: auto;
                    margin-right: auto;
                }*/
                @media screen and (min-width: 1200px) {
                    padding-top: 200px;
                    padding-bottom: 200px;
                    margin-left: auto;
                    margin-right: auto;
                }

}
.about {
    width: 100%;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--second-color-txt);
    text-align: center;
    margin: auto;

    @media screen and (min-width: 480px) {
        width: 360px;
        left: 60px;
        top: 118px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--second-color-txt);
    }
    @media screen and (min-width: 768px) {
        width: 360px;
        left: 204px;
        top: 118px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--second-color-txt);
    }
    @media screen and (min-width: 1200px) {
                width: 696px;
                height: 120px;
                left: 452px;
                top: 280px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 900;
                font-size: 44px;
                line-height: 60px;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                color: #FFFFFF;
                
    }
}

.about2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--letter-txt);
    color: #212121;
    margin-bottom: 10px;
@media screen and (min-width: 480px) {
        text-align: center;
    }
        @media screen and (min-width: 768px) {
            text-align: left;
        }
}
.about3 {
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--letter-txt);
    color: #757575;
}
.about4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: var(--letter-txt);
    color: #212121;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
            font-size: 28px;
            margin-bottom: 30px;
        }
                @media screen and (min-width: 1200px) {
                    font-size: 36px;
                    margin-bottom: 50px;
                }
}
.about5 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: var(--letter-txt);
    color: #212121;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
            font-size: 28px;
            margin-bottom: 30px;
        }
                 @media screen and (min-width: 1200px) {
                     font-size: 36px;
                     margin-bottom: 50px;
                 }
                
}

.txt-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
@media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
    }
        @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: center;
                
                    }
                
        }

.txt-about-txt{
    @media screen and (min-width: 768px) {
            width: 354px;
            height: 224px;
            
        }
                @media screen and (min-width: 1200px) {
                    width: 270px;
                    height: 248px;
        
                }
        
}


.txt-about-txt::before {
    display: block;
    content: "";
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;
}
/*.txt-about .txt-about-txt+.txt-about-txt {
    margin-left: 30px;
}*/

.skills-about{
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.img-about-txt{
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: rgba(47, 48, 58, 0.8);
        padding: 27px 90px;
        width: 100%;
        transform: translateY(224px);
}
.work-view,
.work-clients {
display: flex;
}
.work-view .img-about+.img-about {
    margin-left: 30px;
}

.img-wrap {
    position: relative;
}
 

.work-clients .img-clients+.img-clients {
    margin-left: 30px;
}

.icon-about{
border-radius: 0px;
&::before {
    background-image: url(../img/antena1.svg);
    background-color: #F5F4FA;
    }
}
.icon-about1{
    border-radius: 0px;
    &::before {
        background-image: url(../img/clock1.svg);
        background-color: #F5F4FA;
    }
}
    .icon-about2{
        border-radius: 0px;
        &::before {
            background-image: url(../img/diagram1.svg);
            background-color: #F5F4FA;
        }
    }
    .icon-about3{
        border-radius: 0px;
        &::before {
            background-image: url(../img/astronaut1.svg);
            background-color: #F5F4FA;
        }
    }
    


   

