body {
    
    font-family: 'roboto', sans-serif;
    color: #212121;
    color: red;
}
.link{
            text-decoration: none;
            fill: currentColor;
}

.section {
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/fon11.jpg);
    background-position: center;
}
.section1{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section2{
    
    padding-top: 94px;
        padding-bottom: 94px;
    background-color: #F5F4FA;
}
.section2a {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
}
.section3 {
    
    padding-bottom: 94px;
}
.section4 {
    padding-top: 60px;
    padding-bottom: 60px;
}