.command-soc {
    display: flex;
    justify-content: center;
    gap: 10px;

&-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f9fbf9;
    background-color: #484343;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    background-color: #2196F3;
}
}
}
    .command-soc-icon{
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .command-soc-link:hover &,
    .command-soc-link:focus & {
        fill: #FFFFFF;
    }
    }
   