/*[href] {
    color: #212121;
}*/
.href-hedd {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #757575;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: color var(--second-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
            color: var(--second-color);
            }
            &:focus {
            color: var(--second-color);
            }
                         @media screen and (max-width: 768px) {
                            font-size: 12px;
                         }
                         @media screen and (max-width: 1199px) {
                        font-size: 12px;
                         }
    }
