.regular-customer__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.regular-customer__item {
    display: block;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.regular-customer__link {
    display: flex;
    width: 210px;
    height: 92px;
    align-items: center;
    fill: #FFFFFF;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    justify-content: center;
    &:hover,
    &:focus {
        border-color: #2196F3;
    }
               
         @media screen and (min-width: 768px) {
             width: 226px;
             height: 92px;
         }
                 @media screen and (min-width: 1200px) {
                     width: 170px;
                     height: 92px;
                 }
}

.regular-customer__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .regular-customer__link:hover &,
    .regular-customer__link:focus & {
        fill: #2196F3;
    }
}