
.project-work{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.project {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.work1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: var(--letter-txt);
    color: #757575;
    margin-top: 4px;
}